.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0070f3;
  border-radius: 3px;
  padding-top: 2rem;
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.backToHome {
  margin: 3rem 0 0;
}
